  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <!-- This link is for the bike icon may need to change not sure it works on heroku -->
    <a class="navbar-brand" href="/">
      <img style="width: 40px" src="https://static.thenounproject.com/png/1026671-200.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Bike Match", root_path, class: "nav-link logo-text mt-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bikes", bikes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5e6e696937d0440006bc7c4c%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D0%26cropX2%3D3430%26cropY1%3D103%26cropY2%3D3535" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
           <%= link_to "sign in", new_user_session_path, class: "dropdown-item" %>
           <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
         </div>
       </li>
     </ul>
   </div>
 </div>
