<%= render 'shared/banner' %>
<div class="container mt-5">
  <h1 class="title text-center">Find An Exact <span class="emp">Bike Match</span> Near You!</h1>
  <div class= "d-flex justify-content-center align-items-center my-3">
    <%= simple_form_for :search, url: bikes_path, method: :get, html: { class: "form-inline home-form"}  do |f| %>
      <label class="sr-only" for="inlineFormInputName2">input</label>
      <input type="text" id="query" name="query" class="form-control mr-3" placeholder="Location, Type, Price...">
      <button type="submit" id="commit" value="search" class="btn btn-outline-primary">Search</button>
    <% end %>
  </div>

  <div class="card-group">
    <% @bikes[0..2].each do |bike| %>
      <div class="card m-2">
        <img src="<%= cl_image_path bike.photos[0].key %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= link_to bike.title, bike_path(bike) %></h5>
          <p class="card-text"><%= bike.location %> - <%= bike.price %>€ - Available now</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
